<div class="jaws-player accessibility-hidden">
	<div class="jaws-player-canvas">
		
		<!--a class="jaws-more-button" href="#More" title="More">Show related videos</a-->

		<a class="jaws-play-button" href="#Play" title="Pause">Play this video</a>
		
		<a class="jaws-volume-up" href="#VolumeUp" title="Volume Up">Volume Up this video</a>
		
		<a class="jaws-volume-down" href="#VolumeDown" title="Volume Down">Volume Down this video</a>
		
		<a class="jaws-transcript-button" href="#Transcript" title="Transcript">Open the Transcript</a>
		
		<a class="jaws-share-button" href="#Share" title="Share">Open the Share this video window</a>
		
		<a class="jaws-send-mail-button" href="mailto:?subject=' + encodeURI(document.title) + '&body=' + document.location.href" title="Send email">Email this link</a>

	</div>
</div>

