.video {
  background: #000000;
}
.chrome {
  gradientTop: #000000;
  gradientMiddle: #000000;
  gradientBottom: #000000;
  border: #000000;
  background: #000000;
}
.buttons {
  text: #B5B8BA;
  rolloverText: #FFFFFF;
  disabledText: #AAAAAA;
  icons: #B5B8BA;
  rolloverIcons: #FFFFFF;
  disabledIcons: #AAAAAA;
  borderGradientTop: #FFFFFF;
  borderGradientBottom: #FFFFFF;
}
.titleText {
  active: #5E6062;
  disabled: #A1A1A1;
  rollover: #6BAAB1;
  selected: #6BAAB1;
}
.bodyText {
  active: #FFFFFF;
  disabled: #B0B0B0;
  rollover: #7D7D7D;
  selected: #FFFFFF;
}
.linkText {
  active: #7D7D7D;
  disabled: #B0B0B0;
  rollover: #6BAAB1;
  downState: #6BAAB1;
}
.playhead {
  icon: #B5B8BA;
  gradientTop: #B5B8BA;
  gradientBottom: #B5B8BA;
}
.playheadWell {
  unloadedGradientTop: #A8A8A8;
  unloadedGradientBottom: #C3C3C3;
  watchedGradientTop: #B2C846;
  watchedGradientBottom: #8EA038;
  bufferedGradientTop: #7E7E7E;
  bufferedGradientBottom: #929292;
}
.volumeControl {
  icons: #B5B8BA;
  sliderIcon: #B5B8BA;
  sliderBorder: #000000;
  sliderGradientLeft: #B5B8BA;
  sliderGradientRight: #B5B8BA;
  trackBorder: #000000;
  trackGradientLeft: #CFCFCF;
  trackGradientRight: #F3F3F3;
  filledTrackGradientLeft: #B5B8BA;
  filledTrackGradientRight: #B5B8BA;
  borderGradientTop: #777777;
  borderGradientBottom: #363636;
  backgroundGradientTop: #838383;
  backgroundGradientBottom: #363636;
}
.liveButton {
  gradientTop: #C3C3C3;
  gradientBottom: #A9A9A9;
  rolloverGradientTop: #C3C3C3;
  rolloverGradientBottom: #A9A9A9;
  selectedGradientTop: #C3C3C3;
  selectedGradientBottom: #A9A9A9;
  disabledGradientTop: #B2C846;
  disabledGradientBottom: #8C9E37;
  active: #B5B8BA;
  disabledText: #B5B8BA;
  disabledBorder: #97AA3B;
  border: #9B9B9B;
}